body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box{
    border: solid 5px;
}

.gameBoard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 400px;
    width: 400px;
    border: solid;
}

.X {
    display: grid;
    place-items: center;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 1px solid #babfc3;
    padding: 7px 16px;
    min-height: 36px;
    min-width: 36px;
    color: #202223;
    background: #ffffff;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
}
.X:hover {
    background: #f6f6f7;
    outline: 1px solid transparent;
}
.O:hover {
    background: #f6f6f7;
    outline: 1px solid transparent;
}
.O {
    display: grid;
    place-items: center;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 1px solid #babfc3;
    padding: 7px 16px;
    min-height: 36px;
    min-width: 36px;
    color: #202223;
    background: #ffffff;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
}
.playerChoice {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.start {
    display: grid;
    place-items: center;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 1px solid #babfc3;
    padding: 7px 16px;
    min-height: 16px;
    min-width: 16px;
    color: #202223;
    background: #ffffff;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
}